[submodule "template/report"]
	path = template/report
	url = git@github.com:terentiev-pixel/academic-laboratory-report-template.git
[submodule "template/presentation"]
	path = template/presentation
	url = git@github.com:terentiev-pixel/academic-presentation-markdown-template.git
